<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm"
     xmlns:th="http://www.thymeleaf.org">
    <a href="/">
        <img alt="" class="mr-3" height="48" src="/img/petHotel.svg" width="48">
    </a>
    <div class="lh-100">
        <h6 class="mb-0 text-white lh-100" th:text="#{global.app-name}"/>
    </div>
    <div class="form-new-guest-align">
        <form class="form-inline mt-2 mt-md-0" method="post" th:action="@{/addReservation}"
              th:object="${addReservation}">
            <input aria-label="RFID" class="form-control mr-sm-2" name="rfId" placeholder="RFID" type="text">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Gast Registrieren</button>
        </form>
    </div>
</div>
