<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{master :: layout(~{::title}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{global.app-name}"/>
</head>
<body>
<section>
    <h6 class="border-bottom border-gray pb-2 mb-0">Gäste</h6>
    <div class="media text-muted pt-3" th:each="reservation :${reservationList}">
        <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg"
             preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#007bff"></rect>
            <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
        </svg>
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark" th:text="${reservation.name}"/>
            RFID: <span th:text="${reservation.rfId}"/>,
            Medizinisch Informationen: <span th:text="${reservation.medicalCare}"/>,
            Wichtige Kommandos: <span th:text="${reservation.commands}"/>,
            Besitzer Informationen: <span th:text="${reservation.ownerInformation}"/>,
            Abholdatum: <span th:text="${reservation.pickUpDate}"/>,
            <a th:href="@{/readReservation/}+${reservation.id}">detail</a>
        </p>
    </div>
    <small class="d-block text-right mt-3">
        <a href="/">neu Laden</a>
    </small>
</section>
</body>
</html>
