<!DOCTYPE html>
<html lang="en" th:replace="~{master :: layout(~{::title}, ~{::section}, ~{::breadcrumb})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title th:text="#{global.app-name}"/>
</head>
<body>
<nav class="nav nav-underline" th:fragment="breadcrumb">
    <a class="nav-link disabled" href="/" th:text="#{global.dashboard}"/>
</nav>
<section>
    <h6 class="border-bottom border-gray pb-2 mb-0">Gäste</h6>
    <div class="media text-muted pt-3" th:each="reservation :${reservationList}">
        <svg aria-label="Placeholder: 32x32" class="bd-placeholder-img mr-2 rounded" focusable="false" height="32"
             preserveAspectRatio="xMidYMid slice" role="img" width="32" xmlns="http://www.w3.org/2000/svg">
            <title>Placeholder</title>
            <rect fill="#007bff" height="100%" width="100%"></rect>
            <text dy=".3em" fill="#007bff" x="50%" y="50%">32x32</text>
        </svg>
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark" th:text="${reservation.name}"/>
            RFID: <span th:text="${reservation.rfId}"/>,
            Medizinisch Informationen: <span th:text="${reservation.medicalCare}"/>,
            Wichtige Kommandos: <span th:text="${reservation.commands}"/>,
            Besitzer Informationen: <span th:text="${reservation.ownerInformation}"/>,
            Abholdatum: <span th:text="${reservation.pickUpDate}"/>,
            <a th:href="@{/readReservation/}+${reservation.id}">detail</a>
        </p>
    </div>
    <small class="d-block text-right mt-3">
        <a href="/">neu Laden</a>
    </small>
</section>
</body>
</html>
