<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Release</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">releaseDate</th>
        <th scope="col">description</th>
        <th scope="col">version</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="release : ${releases}">
        <td th:text="${release.id}"/>
        <td th:text="${release?.releaseDate}"/>
        <td th:text="${release?.description}"/>
        <td th:text="${release?.version}"/>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4"></td>
    </tr>
    </tfoot>
</table>

</body>
</html>