<!DOCTYPE html>
<html lang="en" th:replace="~{master :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{global.signIn}"/>
</head>
<body>
<section>
    <h3 th:text="${'Löschen Reservation'}"/><small class="text-info" th:if="${param.logout}" th:text="*{message}"/>

    <form method="post" th:action="@{/removeReservation}" th:object="${reservation}">
        <div>
            <p class="text-danger">Möchtest du den Gast:
                <stron class="font-weight-bold" th:text="${reservation.name}"/>
                wirklich löschen?
            </p>
        </div>
        <input th:field="*{id}" type="hidden">
        <div>
            <a class="btn btn-light" href="/">Abbrechen</a>
            <input class="btn btn-danger" type="submit" value="Löschen"/>
        </div>
    </form>
</section>
</body>
</html>
